@import "tailwindcss";

:root {
  --color-bg: #474747;
  --color-bg-overlay: #ababab;
}


body {
  background-image: url("./img/black-white-dots-alternate-white-marble-background_38013-198.png");
  font-family: "Arial";
}

input[type="checkbox"] {
  accent-color: white;
  }